
.div-principal:hover .arrowRight{
    animation: arrowMove 0.7s forwards ease-in-out ;
}

@keyframes arrowMove {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(9px);
    }
}